<div #mapContainer class="map-container"></div>

<div class="layer-control">
  <h3>Lag</h3>
  <label>
    <input
      type="checkbox"
      [checked]="showAnlaegsprojekter()"
      (change)="showAnlaegsprojekter.set(!showAnlaegsprojekter())"
    />
    Anlægsprojekter
  </label>
  <label>
    <input
      type="checkbox"
      [checked]="showRaadenOverVej()"
      (change)="showRaadenOverVej.set(!showRaadenOverVej())"
    />
    Råden over vej
  </label>
  <label>
    <input
      type="checkbox"
      [checked]="showPPladser()"
      (change)="showPPladser.set(!showPPladser())"
    />
    P-pladser
  </label>
</div>
