.map-container {
	width: 100%;
	height: 100%;
}

// Override MapLibre popup styles
:host ::ng-deep {
	.maplibregl-popup-content {
		padding: 0;
		border-radius: 4px;
	}

	.maplibregl-popup-close-button {
		font-size: 1.25rem;
		padding: 0.25rem 0.5rem;
		color: #757575;

		&:hover {
			background-color: #f5f5f5;
			color: #212121;
		}
	}
}
